# Environments
venv/
env/
.env
.env.production

# Python
__pycache__/
*.pyc
.pytest_cache/

# Database & Logs
*.db
*.sql.gz
backups/
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project